.inputField {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #333333;
  border-radius: 2px;
  font-size: medium;
  line-height: 1.75;
  outline: none;
  padding-top: 0;
  margin-top: 0.75rem;

  &:focus,
  &:focus-visible {
    padding-top: 0.75rem;
    margin-top: 0;
    border-color: #3e82f8;
  }
}

.inputLabel {
  width: 100%;
  position: absolute;
  left: 0.25rem;
  top: 0.75rem;
  font-size: medium;
  line-height: 1.75;
  color: #333333;
}

.inputHasValue,
.inputField:focus ~ .inputLabel {
  font-size: xx-small;
  top: 0;
  color: #3e82f8;
}

.inputHasValue {
  color: #333333;
}

.errorMessage {
  color: #ff0000;
  font-size: xx-small;
  line-height: 1.1;
}
